{% extends "ws_data/helpers_base.html" %}

{% block title %}
    Update {{ helpers }}
{% endblock %}

{% block content %}
<h1><a href={% url "helpers_list" %}>Helpers</a></h1>
<h2>Update {{ helpers }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "helpers_detail" helpers.pk %}>Cancel</a>
<form style="display:inline;" action={% url "helpers_delete" helpers.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ helpers }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}