{% extends "ws_data/instructor_base.html" %}

{% block title %}
    Instructors
{% endblock %}

{% block content %}
    <h1>Instructors</h1>
    <h2><a href={% url "instructor_create" %}>Create new Instructor</h2>
    <ul>
    {% for instructor in instructor_list %}
        <li><a href={% url "instructor_detail" instructor.pk %}>{{ instructor }}</a> | <a href={% url "instructor_update" instructor.pk %}>Update</a> | <form style="display:inline;" action={% url "instructor_delete" instructor.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ instructor }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No Instructors yet.</li>
    {% endfor %}
    </ul>
{% endblock %}