{% extends "ws_data/organisation_base.html" %}

{% block title %}
    {{ organisation }}
{% endblock %}

{% block content %}
    <h1><a href={% url "organisation_list" %}>Organisation</a></h1>
    <h2>{{ organisation }} | <a href={% url "organisation_update" organisation.pk %}>Update</a> | 
    <form style="display:inline;" action={% url "organisation_delete" organisation.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ organisation }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form>
    </h2>
{% endblock %}