{% extends "ws_data/person_base.html" %}

{% block title %}
    Update {{ person }}
{% endblock %}

{% block content %}
<h1><a href={% url "person_list" %}>Person</a></h1>
<h2>Update {{ person }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "person_detail" person.pk %}>Cancel</a>
<form style="display:inline;" action={% url "person_delete" person.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ person }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}