{% extends "base.html" %}

{% block main_content %}
<div class="row">
    <div class="alert alert-info" role="alert">NOTE: This is an incomplete data set. We are still "in development".</div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h4 class="panel-title">People</h4>
        </div>
        <div class="panel-body">
          <p><strong>Number of people:</strong> {{ ppl.total }}</p>
          <p><strong>Gender</strong></p>
          <p><strong>Men:</strong> {{ ppl.men }} ({% widthratio ppl.men ppl.total 100 %}%)</p>
          <p><strong>Women:</strong> {{ ppl.women }} ({% widthratio ppl.women ppl.total 100 %}%)</p>
          <p><strong>Other:</strong> {{ ppl.other_gender }} ({% widthratio ppl.other_gender ppl.total 100 %}%)</p>
          <p><strong>Unknown:</strong> {{ ppl.unknown_gender }} ({% widthratio ppl.unknown_gender ppl.total 100 %}%)</p>
        </div>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h4 class="panel-title">People</h4>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-hover">
           <thead>
            <tr>
                <td>Institution</td>
                <td>Total Attendees</td>
            </tr>
           </thead>
           <tbody>
            {% for org, info in attendees_per_org.items %}
            <tr>
                {% for link, num in info.items %}
                    <td><a href="/reports/{{ link }}">{{ org }}</a></td>
                    <td>{{ num }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
           </tbody>
         </table>      
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">Workshop Stats</h4>
        </div>
        <div class="panel-body">
          <p><strong>Number of Workshops:</strong> {{ ws.total }}</p>
          <p><strong>2013:</strong> {{ ws.ws2013_total }}</p>
          <p><strong>2014:</strong> {{ ws.ws2014_total }}</p>
          <p><strong>2015:</strong> {{ ws.ws2015_total }}</p>
        </div>
      </div>
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h4 class="panel-title">Workshop Career status breakdown</h4>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-hover">
           <thead>
            <tr>
                <td>Stage</td>
                <td>Number</td>
                <td>Percent</td>
            </tr>
           </thead>
           <tbody>
           <tr>
           <td>Undergraduate</td>
           <td>{{ total.1 }}</td>
           <td> {% widthratio total.1 total.all 100 %}% </td>
           </tr>
           <tr>
           <td>Honours</td>
           <td>{{ total.2 }}</td>
           <td> {% widthratio total.2 total.all 100 %}% </td>
           </tr>
           <tr>
           <td>Masters</td>
           <td>{{ total.3 }}</td>
           <td> {% widthratio total.3 total.all 100 %}% </td>
           </tr>
           <tr>
           <td>PhD - first year</td>
           <td>{{ total.4 }}</td>
           <td> {% widthratio total.4 total.all 100 %}% </td>
           </tr>
           <tr>
           <td>PhD - second year</td>
           <td>{{ total.5 }}</td>
           <td> {% widthratio total.5 total.all 100 %}% </td>
           </tr>
           <tr>
           <td>PhD - third year and beyond</td>
           <td>{{ total.6 }}</td>
           <td> {% widthratio total.6 total.all 100 %}% </td>
           </tr>
           <tr>
           <td>Postgraduate</td>
           <td>{{ total.7 }}</td>
           <td> {% widthratio total.7 total.all 100 %}% </td>
           </tr>
           <tr>
           <td>Postdoc</td>
           <td>{{ total.8 }}</td>
           <td> {% widthratio total.8 total.all 100 %}% </td>
           </tr>
           <tr>
           <td>Early Career researcher</td>
           <td>{{ total.9 }}</td>
           <td> {% widthratio total.9 total.all 100 %}% </td>
           </tr>
           <tr>
           <td>Mid Career Researcher</td>
           <td>{{ total.10 }}</td>
           <td> {% widthratio total.10 total.all 100 %}% </td>
           </tr>
           <tr>
           <td>Senior Researcher</td>
           <td>{{ total.11 }}</td>
           <td> {% widthratio total.11 total.all 100 %}% </td>
           </tr>
           <tr>
           <td>Research Assistant</td>
           <td>{{ total.12 }}</td>
           <td> {% widthratio total.12 total.all 100 %}% </td>
           </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="col-md-12">

      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">Workshop Stats</h4>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-hover">
           <thead>
            <tr>
                <td>Title</td>
                <td>Date</td>
                <td>UG</td>
                <td>H</td>
                <td>M</td>
                <td>PHD1</td>
                <td>PHD2</td>
                <td>PHD3</td>
                <td>PG</td>
                <td>PD</td>
                <td>ECR</td>
                <td>MCR</td>
                <td>RA</td>
                <td>R</td>
            </tr>
           </thead>
           <tbody>
            {% for key, value in ppnt.items %}
            <tr>
                <td>{{ value.ws.title }}</td>
                <td>{{ value.ws.start_date }}</td>
                <td>{{ value.stats.1 }}</td>
                <td>{{ value.stats.2 }}</td>
                <td>{{ value.stats.3 }}</td>
                <td>{{ value.stats.4 }}</td>
                <td>{{ value.stats.5 }}</td>
                <td>{{ value.stats.6 }}</td>
                <td>{{ value.stats.7 }}</td>
                <td>{{ value.stats.8 }}</td>
                <td>{{ value.stats.9 }}</td>
                <td>{{ value.stats.10 }}</td>
                <td>{{ value.stats.11 }}</td>
                <td>{{ value.stats.12 }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>
      </div>

    </div>
</div>
{% endblock main_content %}

