{% extends "base.html" %}

{% block main_content %}

    <h3>{{ object.title }}</h3>
    <h4>{{ object.start_date }}</h4>

<p><strong>Description:</strong> {{ object.description }}</p>
<p><strong>Teaching Hours:</strong> {{ object.teaching_hours }}</p>
<p><strong>Catering:</strong> {{object.catering }}</p>
{% if object.website %}
	<p><strong>Website:</strong> {{ objet.website }}</p>
{% endif %}
{% if object.blog_post %}
	<p><strong>Blog Post:</strong> {{ object.blog_post }}</p>
{% endif %}

<h4>Participants</h4>

<ul>
{% for participant in object.participant_set.all %}

	<li><a href="{{ participant.person.get_absolute_url}}">{{ participant.person }}</a></li>	

{% endfor %}

</ul>

{% endblock main_content %}

