{% load staticfiles %}
<!DOCTYPE html>
<html{% if request.LANGUAGE_CODE %} lang="{{ request.LANGUAGE_CODE }}"{% endif %}>
<head>
    <meta charset="utf-8">
    {% block stylesheets %}
      <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    {% endblock stylesheets %}
    {% block javascript %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="{% static "js/bootstrap.js" %}"></script> 
    {% endblock javascript %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Workshops{% endblock %}</title>
</head>

{% block content %}
    <div class="container">
        <div class="row">
            {% block navigation %}
            <nav class="navbar navbar-inverse" role="navigation">{# title/header row  #}
                <div class="navbar-header">
                    {# <a class="navbar-brand" href="{% url 'index' %}"><img class="brand" src="{% static "img/tree65.svg" %}" width=40></img></a> #}
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'index' %}">Workshop List</a></li>
                        <li><a href="{% url 'workshop_add' %}">Add a Workshop</a></li>
			            <li><a href="{% url 'institution_index' %}">Institution List</a></li>
                        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    </ul>
                </div>
            </nav>
        {% endblock navigation %}
        </div> <!-- end navigation row -->

        <div class="row">{# main content #}
            <div class="col-md-1">
                <div class="row">&nbsp</div>{# these empty rows are padding #}
                    {% block sidebar %}
                    {% endblock sidebar %} {# end sidebar #}
            </div>
            <div class="col-md-10">
                {% block main_content %}
                {% endblock %}
            </div>    
        </div>{# end content row #}
   

    <div class="row" id="footer">{# footer #}
        {% block footer %}
        {% endblock %}
    </div>
 </div> {# end container-fluid #}
{% endblock %}
